#primario{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
#primario encabezado{
    color: white;
}

#footer advertencia{
    text-align: left; 
    font-size: 17px;
}

#footer a{
    text-align: right; 
    color:black;
    text-decoration: None;
}