/* barra superior */
#primario{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
#primario encabezado{
    color: white;
}

/* header */
#header{
    background: white;
}
#header img{
    width: 55px;
}
#header a{
    color: #000000;
}

/* main */
#imagen img{
    width: 100%;
    height: 60%;
}

/* footer */
#footer{
    background: #ffd101;
}
#footer advertencia{
    text-align: left; 
    font-size: 17px;
}
#footer a{
    text-align: right; 
    font-size: 19px;
    color:black;
    text-decoration: None;
} 

#nosotrosa {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 500px;
    background-image: url(enco-img/nosotros/nosotros1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#nosotrosb{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-image: url(enco-img/nosotros/nosotros\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#nosotrosc{
    margin-right: 0;
    margin-left: 0;
}
#nosotrosc img{
    width: 100%;
    height: auto;
}

#espacio{
    background: white;
}

#solucionesa img{
    width: 100%;
    height: auto;
}

#solucionesb img{
    width: auto;
    height: auto;
}


#solucionesc img{
    width: 80%;
}